teacher-basic.iws
teacher-basic.ipr
.idea/
.idea/artifacts/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/thriftCompiler.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/vcs.xml
.DS_Store  
.DS_Store?  
._*  
.Spotlight-V100  
.Trashes  
Icon?  
ehthumbs.db  
Thumbs.db  
</span>
/target/
target/
*.gtignore
*.classpath
*.project
*.settings
*.prefs
*.componet
*.name
*.container
*.facet.core.xl
*.jsdtscope
*.DS_Store
.settins/
<span style="font-size: small;"># Compiled source #  
###################  
*~
*.com  
*.class  
*.dll  
*.exe  
*.o  
*.so  
*.iml
*.rdb
# Packages #  
############  
# it's better to unpack these files and commit the raw source  
# git has its own built in compression methods  
*.7z  
*.dmg  
*.gz  
*.iso  
*.jar  
*.rar  
*.tar  
*.zip  
    
# Logs and databases #  
######################  
*.log  

*.sqlite 
log
tags

*.swp
**/.factorypath
